<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="jquery-2.1.4.js"></script>
  <!-- preloader css -->
  <style>
    body {
  margin: 0;
  padding: 0;
  width:100vw;
  height: 100vh;
  background-color: #eee;
}
.content {
  display: flex;
  justify-content: center;
  align-items: center;
  width:100%;
  height:100%;
}
.loader-wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #242f3f;
  display:flex;
  justify-content: center;
  align-items: center;
}
.loader {
  display: inline-block;
  width: 30px;
  height: 30px;
  position: relative;
  border: 4px solid #Fff;
  animation: loader 2s infinite ease;
}
.loader-inner {
  vertical-align: top;
  display: inline-block;
  width: 100%;
  background-color: #fff;
  animation: loader-inner 2s infinite ease-in;
}

@keyframes loader {
  0% { transform: rotate(0deg);}
  25% { transform: rotate(180deg);}
  50% { transform: rotate(180deg);}
  75% { transform: rotate(360deg);}
  100% { transform: rotate(360deg);}
}

@keyframes loader-inner {
  0% { height: 0%;}
  25% { height: 0%;}
  50% { height: 100%;}
  75% { height: 100%;}
  100% { height: 0%;}
}
  </style>
</head>
<body>
  <div class="content">
    <div class="con">
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
    <div class="row flex-lg-row-reverse align-items-center g-5 py-4 mb-4">
      <div class="col-12 col-lg-6">
        <div class="container">
          <div class="coffee-header">
            <div class="coffee-header__buttons coffee-header__button-one"></div>
            <div class="coffee-header__buttons coffee-header__button-two"></div>
            <div class="coffee-header__display"></div>
            <div class="coffee-header__details"></div>
          </div>
          <div class="coffee-medium">
            <div class="coffe-medium__exit"></div>
            <div class="coffee-medium__arm"></div>
            <div class="coffee-medium__liquid"></div>
            <div class="coffee-medium__smoke coffee-medium__smoke-one"></div>
            <div class="coffee-medium__smoke coffee-medium__smoke-two"></div>
            <div class="coffee-medium__smoke coffee-medium__smoke-three"></div>
            <div class="coffee-medium__smoke coffee-medium__smoke-for"></div>
            <div class="coffee-medium__cup"></div>
          </div>
          <div class="coffee-footer"></div>
        </div>  </div>
    
      <div class="col-12 col-lg-6">
        <h2 class="display-5 fw-bold mb-3">Huge selection of delicios recipe ideas</h2>
        <p class="lead">
          Explore our huge selection of delicious recipe ideas including; easy desserts, delicious vegan and vegetarian dinner ideas, gorgeous pasta recipes, quick bakes, family-friendly meals and gluten-free recipes.
        </p>
    
        <!-- <div class="d-grid gap-2 d-md-flex justify-content-md-start">
          <a href="/explore-latest" class="btn btn-primary btn-dark btn-lg px-4 me-md-2">Explore Latest</a>
          <a href="/explore-random" class="btn btn-outline-secondary btn-lg px-4 me-md-2">Show Random</a>
        </div> -->
    
      </div>
    
    </div>
    
    
    <!-- Categories Start -->
    
    
    <div class="row row-cols-2 row-cols-lg-6 g-2 g-lg-3 py-4">
    
    
      <% if(categories != '') { %>
        <% categories.forEach(function(category, index) { %>
          <a href="/categories/<%- category.name %>" class="col text-center category__link">
            <div class="category__img shadow">
              <img src="img/<%- category.image %>" alt="<%- category.name %>" loading="lazy">
            </div>
            <div class="pt-1"><%- category.name %></div>
          </a>
        <% }) %>
      <% } %>
    
      <a href="/categories" class="col text-center category__link">
        <div class="category__img shadow">
          <img src="img/view-all.jpg" alt="View All Categories" loading="lazy">
        </div>
        <div class="pt-1">View All</div>
      </a>
    
    </div>
    <!-- Categories End -->
    
    
    
    <!-- Latest Start -->
    
    <section class="pb-4 pt-4">
      <div class="d-flex mb-2 align-items-center">
        <h2>Latest Recipes</h2>
        <a href="/explore-latest" class="ms-auto">View More</a>
      </div>
    
      <div class="row row-cols-2 row-cols-lg-5 g-2 g-lg-3">
    
        <% if(food != '') { %>
          <% food.latest.forEach(function(recipe, index){ %>
          <a href="/recipe/<%= recipe._id %>" class="col text-center category__link">
            <div class="category__img category__img--large shadow">
              <img src="/uploads/<%= recipe.image %>" alt="<%= recipe.name %>" loading="lazy">
            </div>
            <div class="pt-1"><%= recipe.name %></div>
          </a>
          <% }) %>
        <% } else { %>
          <p>No items found.</p>
        <% } %>
      </div>
    
    </section>
    <!-- Latest End -->
    
    <!-- Thai Start -->
    <section class="pb-4 pt-4">
      <div class="d-flex mb-2 align-items-center">
        <h2>Thai Recipes</h2>
        <a href="/categories/Thai" class="ms-auto">View More</a>
      </div>
    
      <div class="row row-cols-2 row-cols-lg-5 g-2 g-lg-3">
        <% if(typeof food.thai !== 'undefined' && food.thai.length > 0) { %>
          <% food.thai.forEach(function(recipe, index){ %>
          <a href="/recipe/<%= recipe._id %>" class="col text-center category__link">
            <div class="category__img category__img--large shadow">
              <img src="/uploads/<%= recipe.image %>" alt="<%= recipe.name %>" loading="lazy">
            </div>
            <div class="pt-1"><%= recipe.name %></div>
          </a>
          <% }) %>
        <% } else { %>
          <p>No items found.</p>
        <% } %>
      </div>
    </section>
    <!-- Thai End -->
    
    <!-- American Start -->
    <section class="pb-4 pt-4">
      <div class="d-flex mb-2 align-items-center">
        <h2>American Recipes</h2>
        <a href="/categories/American" class="ms-auto">View More</a>
      </div>
    
      <div class="row row-cols-2 row-cols-lg-5 g-2 g-lg-3">
        <% if(food.american != '') { %>
          <% food.american.forEach(function(recipe, index){ %>
          <a href="/recipe/<%= recipe._id %>" class="col text-center category__link">
            <div class="category__img category__img--large shadow">
              <img src="/uploads/<%= recipe.image %>" alt="<%= recipe.name %>" loading="lazy">
            </div>
            <div class="pt-1"><%= recipe.name %></div>
          </a>
          <% }) %>
        <% } else { %>
          <p>No items found.</p>
        <% } %>
      </div>
    </section>
    <!-- American End -->
    
    <!-- Chinese Recipes -->
    <section class="pb-4 pt-4">
      <div class="d-flex mb-2 align-items-center">
        <h2>Chinese Recipes</h2>
        <a href="/categories/American" class="ms-auto">View More</a>
      </div>
    
      <div class="row row-cols-2 row-cols-lg-5 g-2 g-lg-3">
        <% if(food.chinese != '') { %>
          <% food.chinese.forEach(function(recipe, index){ %>
          <a href="/recipe/<%= recipe._id %>" class="col text-center category__link">
            <div class="category__img category__img--large shadow">
              <img src="/uploads/<%= recipe.image %>" alt="<%= recipe.name %>" loading="lazy">
            </div>
            <div class="pt-1"><%= recipe.name %></div>
          </a>
          <% }) %>
        <% } else { %>
          <p>No items found.</p>
        <% } %>
      </div>
    </section>
    <!-- American End -->
    
    
    
    
    
    
    <!-- Submit - Start -->
    <section class="px-4 py-5 my-5 text-center">
      <div class="food-animation">
        <div class="hamburger">
          <!-- <img src="/Users/bharath/Downloads/the-ultimate-hamburger.jpeg" alt="Burger image"> -->
        </div>
      </div>
      
    </section>
    </div>
     
    <!-- Submit - End -->
    
    
    
    
    
  </div>

  <div class="loader-wrapper">
    <span class="loader"><span class="loader-inner"></span></span>
  </div>

  <script>
      $(window).on("load",function(){
        $(".loader-wrapper").fadeOut(1000);
      });
  </script>
  
</body>
</html>